<!-- boootstrap CSS and JS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- font awosome -->
<!-- <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script> -->


<!-- Custom CSS files -->
<link rel="stylesheet" href="/css/home.css">

<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+JP&family=Varela+Round&display=swap" rel="stylesheet">


<!-- Custom CSS files -->
<link rel="stylesheet" href="/css/admin.css">

</head>
<body>
<div id="home"></div>
<div>
    <div id="navbar">
        <div style="max-width:300px; margin-right: auto;">
            <!-- logo -->
            <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Logo_of_YouTube_%282015-2017%29.svg/502px-Logo_of_YouTube_%282015-2017%29.svg.png">
        </div>
        <div style="margin-left: auto;">
            <!-- menu -->
            <div id="menuItems">
                <!-- list -->
                <a href="/thisIsACustomRoute/createBlog">Create A new Blog</a>
                <a href="/thisIsACustomRoute/updateBlog">Update A Blog</a>
                <a href="/thisIsACustomRoute/addReview">Add A Client Review</a>              
            </div>
            <div id="menuIcon" onclick="navbarOpen()">
                <b>☰</b>
            </div>  
        </div>
    </div>
    <div id="MobileMenu">
        <a href="/thisIsACustomRoute/createBlog">Create A new Blog</a>
        <a href="/thisIsACustomRoute/updateBlog">Update A Blog</a>
    </div>
</div>